#Wrapper {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
    text-align: center;
    background-color: #e2e2e2;
    background-image: url(atic/imgadow_light.png);
    background-repeat: repeat-x;
}

.content {
    min-width: 600px;
    max-width: 1100px;
    margin: 0 auto;
}

#Leftbar {
    width: 0;
    float: left;
}

#Rightbar {
    width: 270px;
    float: right;
    margin-right: 20px;
}

.sep20 {
    height: 20px;
}

.box {
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    border-bottom: 1px solid var(--box-border-color);
}

.dock_area {
    background-color: #edf3f5;
    background-image: url(atic/img/dock_shadow.png);
    background-repeat: repeat-x;
    padding: 0;
}

.inner {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:active, a:link, a:visited {
    color: var(--link-color);
    text-decoration: none;
    word-break: break-word;
}

div {
    display: block;
}

.box {
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    border-bottom: 1px solid var(--box-border-color);
}

.box {
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    border-bottom: 1px solid var(--box-border-color);
}

#Tabs {
    background-color: var(--box-background-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.inner {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}

.cell {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    border-bottom: 1px solid var(--box-border-color);
}

#SecondaryTabs {
    background-color: var(--box-background-alt-color);
    padding: 10px 10px 10px 20px;
}

.item {
    background-position: 0 bottom;
    background-repeat: repeat-x;
}

a.tab_current:active, a.tab_current:link, a.tab_current:visited {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #334;
    color: #fff;
}

.cell {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    border-bottom: 1px solid var(--box-border-color);
}

.flex-one-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Main {
    width: 900px;
    margin: 0 310px 0 20px;
}