<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="person.css">
  <link rel="stylesheet" href="custom.css">
</head>
<body>
<div id="top">
  <div class="content">
    <div class="site-nav">
      <a href="https://www.v2ex.com/" name="top" title="way to explore">
        <div id="Logo"></div>
      </a>
      <div id="search-container">
        <input id="search" type="text" maxlength="128" autocomplete="off" tabindex="1">
        <div id="search-result" class="box"></div>
      </div>
      <div class="tools">
        <a href="index.html" class="top">首页</a>
        <a href="person" class="top">用户</a>
        <a href="register.html" class="top">注册</a>
        <a href="login.html" class="top">登录</a>
      </div>
    </div>
  </div>
</div>

<div id="Wrapper">
  <div class="content">
    <div id="Main">
      <div class="sep20"></div>
      <div class="box">
        <div class="cell">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr>
              <td width="73" valign="top" align="center"><img
                      src="./V2EX › illusion22_files/cd00d5aa9f44ead3392283c193f18062" class="avatar"
                      border="0" align="default" alt="illusion22">
                <div class="sep10"></div>
                <strong class="online">ONLINE</strong></td>
              <td width="10"></td>
              <td width="auto" valign="top" align="left">
                <div class="fr">
                </div>
                <h1 style="margin-bottom: 5px;">illusion22</h1>
                <div class="sep10"></div>
                <span class="gray">V2EX 第 584359 号会员，加入于 2022-06-10 16:15:44 +08:00<div
                        class="sep5"></div>今日活跃度排名 <a href="https://www.v2ex.com/top/dau">2090</a>
</span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="sep5"></div>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="cell_tabs flex-one-row">
          <div>
            <img src="./V2EX › illusion22_files/cd00d5aa9f44ead3392283c193f18062(1)" width="24"
                 style="border-radius: 24px; margin-top: -2px;" border="0">
          </div>
          <div style="flex: 1;"><a href="https://www.v2ex.com/member/illusion22" class="cell_tab_current">illusion22</a><a
                  href="https://www.v2ex.com/member/illusion22/qna" class="cell_tab">提问</a><a
                  href="https://www.v2ex.com/member/illusion22/tech" class="cell_tab">技术话题</a><a
                  href="https://www.v2ex.com/member/illusion22/play" class="cell_tab">好玩</a><a
                  href="https://www.v2ex.com/member/illusion22/jobs" class="cell_tab">工作信息</a><a
                  href="https://www.v2ex.com/member/illusion22/deals" class="cell_tab">交易信息</a><a
                  href="https://www.v2ex.com/member/illusion22/city" class="cell_tab">城市相关</a></div>
        </div>
      </div>
      <div class="sep20"></div>
      <div class="box">
        <div class="inner"><span class="gray">illusion22 最近回复了</span></div>
        <div class="inner"><span class="chevron">»</span> <a
                href="https://www.v2ex.com/member/illusion22/replies">illusion22 创建的更多回复</a></div>
      </div>
    </div>
  </div>
  <div class="c"></div>
  <div class="sep20"></div>
</div>
<div id="Bottom">
  <div class="content">
    <div class="inner">
      <div class="sep10"></div>
      <div class="fr">
        <a href="https://www.digitalocean.com/?refcode=1b51f1a7651d" target="_blank">
          <div id="DigitalOcean"></div>
        </a>
      </div>
      <strong><a href="https://www.v2ex.com/about" class="dark" target="_self">关于</a> &nbsp; <span
              class="snow">·</span> &nbsp; <a href="https://www.v2ex.com/help" class="dark"
                                              target="_self">帮助文档</a> &nbsp; <span class="snow">·</span> &nbsp; <a
              href="https://www.v2ex.com/help/api" class="dark" target="_self">API</a> &nbsp; <span
              class="snow">·</span> &nbsp; <a href="https://www.v2ex.com/faq" class="dark" target="_self">FAQ</a>
        &nbsp; <span class="snow">·</span> &nbsp; <a href="https://www.v2ex.com/mission" class="dark"
                                                     target="_self">我们的愿景</a> &nbsp; <span class="snow">·</span>
        &nbsp; <a href="https://www.v2ex.com/advertise" class="dark" target="_self">广告投放</a> &nbsp; <span
                class="snow">·</span> &nbsp; <a href="https://www.v2ex.com/advertise/2019.html" class="dark"
                                                target="_self">感谢</a> &nbsp; <span class="snow">·</span> &nbsp;
        <a href="https://www.v2ex.com/tools" class="dark" target="_self">实用小工具</a> &nbsp; <span
                class="snow">·</span> &nbsp; 2572 人在线</strong> &nbsp; <span class="fade">最高记录 5497</span> &nbsp;
      <span class="snow">·</span> &nbsp;
      <div class="sep20"></div>
      创意工作者们的社区
      <div class="sep5"></div>
      World is powered by solitude
      <div class="sep20"></div>
      <span class="small fade">VERSION: 3.9.8.5 · 13ms · <a
              href="https://www.v2ex.com/worldclock#utc">UTC 11:50</a> · <a
              href="https://www.v2ex.com/worldclock#pvg">PVG 19:50</a> · <a
              href="https://www.v2ex.com/worldclock#lax">LAX 04:50</a> · <a
              href="https://www.v2ex.com/worldclock#jfk">JFK 07:50</a><br>Developed with <a
              href="https://cl.v2ex.pro/" target="_blank">CodeLauncher</a><br>♥ Do have faith in what you're doing.</span>
      <div class="sep10"></div>
    </div>
  </div>
</div>

</body>
</html>