#Wrapper {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
    text-align: center;
    background-color: #e2e2e2;
    background-image: url(../static/img/light.png);
    background-repeat: repeat-x;
}
.cell_tabs {
    padding: 10px 10px 0;
    border-bottom: 1px solid var(--box-border-color);
    text-align: center;
}
#Main {
    width: auto;
    margin: 0 310px 0 20px;
}

.c {
    clear: both;
}

.content {
    min-width: 600px;
    max-width: 1100px;
    margin: 0 auto;
}


.sep20 {
    height: 20px;
}

.box {
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 2px 3px rgb(0 0 0);
    border-bottom: 1px solid var(--box-border-color);
}

.cell {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
    border-bottom: 1px solid var(--box-border-color);
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.cell-translucent:first-child, .cell:first-child, .cell_ops:first-child {
    border-top: none;
    border-top-left-radius: var(--box-border-radius);
    border-top-right-radius: var(--box-border-radius);
}

td {
    display: table-cell;
    vertical-align: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.fr {
    float: right;
    text-align: right;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0 0 10px;
    padding: 0;
    line-break: anywhere;
}

.gray {
    color: var(--color-gray);
}

.sep5 {
    height: 5px;
}

.box {
    background-color: var(--box-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 2px 3px rgb(0 0 0);
    border-bottom: 1px solid var(--box-border-color);
}

.cell_tabs {
    padding: 10px 10px 0;
    border-bottom: 1px solid var(--box-border-color);
    text-align: center;
}

div {
    display: block;
}

img.avatar {
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: bottom;
}

element.style {
    flex: 1;
}

.inner {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}

.gray {
    color: var(--color-gray);
}

.inner {
    padding: 10px;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
}

.chevron {
    font-family: lucida grande;
    font-weight: 500;
}

a:active, a:link, a:visited {
    color: var(--link-color);
    text-decoration: none;
    word-break: break-word;
}

.c {
    clear: both;
}
.cell_tab_current:link, .cell_tab_current:visited {
    font-size: 14px;
    line-height: 30px;
    border-bottom: 3px solid #778087;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    padding: 0 5px 5px;
}
.cell_tab:link, .cell_tab:visited {
    font-size: 14px;
    line-height: 30px;
    border-bottom: 3px solid transparent;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    padding: 0 5px 5px;
    color: #99a;
}

.online {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    padding: 2px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    background: #52bf1c;
    background: -moz-linear-gradient(top, #52bf1c 0, #438906 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #52bf1c), color-stop(100%, #438906));
    background: -webkit-linear-gradient(top, #52bf1c 0, #438906 100%);
    background: -o-linear-gradient(top, #52bf1c 0, #438906 100%);
    background: -ms-linear-gradient(top, #52bf1c 0, #438906 100%);
    background: linear-gradient(top, #52bf1c 0, #438906 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52bf1c", endColorstr="#438906", GradientType=0);
}

