<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
</head>
<body>
<div th:replace="~{fragments/header::head}"></div>
<div th:replace="~{fragments/nav-bar::nav-bar}"></div>
<div>
    <br/>
</div>

<div class="container">
    <div th:replace="~{fragments/user/left-bar::left-bar}"></div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">文章发表</label>
        <br>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary">上传</button>
</div>
<div>
    <br/>
</div>
<div th:replace="~{fragments/footer::foot}"></div>
</body>
</html>