<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
</head>
<body>
<div th:replace="~{fragments/header::head}"></div>
<div th:replace="~{fragments/nav-bar::nav-bar}"></div>
<div>
    <br/>
</div>

<div class="container">
    <div th:replace="~{fragments/user/left-bar::left-bar}"></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">标题</th>
            <th scope="col">提交日期</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article:${articlePageInfo.list}">
            <th scope="row" th:text="${article.id}"></th>
            <td th:text="${article.title}"></td>
            <td th:text="${article.publishTime}"></td>
            <td>
                <a th:href="@{/article/update(id=${article.id})}">修改</a>
                /
                <a th:href="@{/article/delete(id=${article.id})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div>
    <br/>
</div>
<div th:replace="~{fragments/footer::foot}"></div>
</body>
</html>