<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
</head>
<body>
<div th:replace="~{fragments/header::head}"></div>
<div th:replace="~{fragments/nav-bar::nav-bar}"></div>
<div>
    <br/>
</div>

<div class="container">
    <div th:replace="~{fragments/user/left-bar::left-bar}"></div>
    <h4 class="page-title">信息编辑</h4>
    <div class="mb-3">
        <label>文章标题</label>
        <br>
        <input>
        <br>
        <label for="exampleFormControlTextarea1" class="form-label">文章内容</label>
        <br>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <br>
    </div>
    <button type="button" class="btn btn-primary">确定</button>
    <button type="button" class="btn btn-primary">删除</button>

</div>

<div>
    <br/>
</div>
<div th:replace="~{fragments/footer::foot}"></div>
</body>
</html>