<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
</head>
<body>
<div th:replace="~{fragments/header::head}"></div>
<div th:replace="~{fragments/nav-bar::nav-bar}"></div>
<div>
    <hr/>
</div>

<div class="container">
    <form>
        <div>
            <label>修改昵称</label>
            <input>
        </div>
        <br/>
        <div>
            <label>原密码&nbsp;&nbsp;&nbsp;</label>
            <input>
        </div>
        <br/>
        <div>
            <label>修改密码</label>
            <input>
        </div>
        <br/>
        <div>
            <label>确认密码</label>
            <input>
        </div>
        <br/>
        <div>
            <button class="btn btn-primary" type="submit">修改</button>
        </div>
    </form>
</div>
</div>

<div>
    <hr/>
</div>

<div th:replace="~{fragments/footer::foot}"></div>
</body>
</html>