<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
</head>
<body>
<div th:replace="~{fragments/header::head}"></div>
<div th:replace="~{fragments/nav-bar::nav-bar}"></div>
<div>
    <hr/>
</div>

<div class="container">
    <div th:replace="~{fragments/user/left-bar::left-bar}"></div>
    <form action="/user/settings" method="post">
        <input type="hidden" name="id" th:value="${session.user.id}">
        <input type="hidden" name="nickName" th:value="${session.user.nickName}">
        <input type="hidden" name="passwordQuestion" th:value="${session.user.passwordQuestion}">
        <input type="hidden" name="passwordQuestionAnswer" th:value="${session.user.passwordQuestionAnswer}">
        <div>
            <label>修改昵称</label>
            <input name="name" th:value="${session.user.name}">
        </div>
        <br/>
        <div>
            <label>修改密码</label>
            <input name="password" th:value="${session.user.password}">
        </div>
        <br/>
        <br/>
        <div>
            <button class="btn btn-primary" type="submit">修改</button>
        </div>
    </form>
</div>
</div>

<div>
    <hr/>
</div>

<div th:replace="~{fragments/footer::foot}"></div>
</body>
</html>