<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/bootstrap.css">
<footer th:fragment="foot" class="page-footer">

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">关于</a>
        <a href="#" class="list-group-item list-group-item-action">创意工作者们的社区</a>
        <a href="#" class="list-group-item list-group-item-action">VERSION: 3.9.8.5 · 6ms · UTC 15:41 · PVG 23:41 · LAX 08:41 · JFK 11:41</a>
        <a href="#" class="list-group-item list-group-item-action">Developed with CodeLauncher</a>
        <a href="#" class="list-group-item list-group-item-action">♥ Do have faith in what you're doing.</a>
    </div>

</footer>
</html>