<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/custom.css">
</head>
<body>
<div id="top">
    <div>
        <div>
            <a>
                <div></div>
            </a>
            <div>
                <input>
            </div>
            <div>
                <a></a>
                <a></a>
                <a></a>
            </div>
        </div>
    </div>
</div>


<div id="middle">
    <div>
        <div id="right">
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="main">
        <div></div>
        <div></div>
        <div>
            <form>
                <table>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>


<div id="bottom">

</div>
</body>
</html>