<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/custom.css">
</head>
<body>
<div id="top">
    <div>
        <div>
            <a>
                <div></div>
            </a>
            <div>
                <input />
            </div>
            <div>
                <a></a>
                <a></a>
                <a></a>
            </div>
        </div>
    </div>
</div>

<div id="middle">
    <div>
        <div>
            <div id="right">
                <div></div>
            </div>
        </div>
        <div id="main">
            <div></div>
            <div>
                <div>
                    <table>
                        <tbody>
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div></div>
            <div>

                <div></div>
                <div>
                    <div>
                        <span></span>
                    </div>
                    <div>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bottom">

    </div>
</div>
</body>
</html>