<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/custom.css">
</head>
<body>
<div id="top">
    <div>
        <div>
            <a>
                <div></div>
            </a>
            <div>
                <input>
            </div>
            <div>
                <a></a>
                <a></a>
                <a></a>
            </div>
        </div>
    </div>
</div>


<div id="middle">
    <div id="right">
        <div>
            <div>
                <strong></strong>
                <span></span>
            </div>
            <div class="inner">
                <div><a href="register.html"></a>
                    <a href="login.html"></a></div>
            </div>
        </div>
        <div class="box">
            <div class="cell"><span></span></div>
            <div class="">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="QA.html"><img src=""></a>
                        </td>
                        <td></td>
                        <td>
                <span>
                <a></a>
                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="QA.html"><img src=""></a>
                        </td>
                        <td></td>
                        <td>
<span>
<a></a>
</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="QA.html"><img src=""></a>
                        </td>
                        <td></td>
                        <td>
<span>
<a href=""></a>
</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="QA.html"><img src=""></a>
                        </td>
                        <td></td>
                        <td>
<span>
<a href=""></a>
</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="QA.html"><img src=""></a>
                        </td>
                        <td></td>
                        <td>
<span>
<a href=""></a>
</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="QA.html"><img src=""></a>
                        </td>
                        <td></td>
                        <td>
<span>
<a href=""></a>
</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="QA.html"><img src=""></a>
                        </td>
                        <td></td>
                        <td>
<span>
<a href=""></a>
</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <di class="box">
            <div>
                <div></div>
                <span></span></div>
            <div>

            </div>
            <div class="inner"><a href=""><img src=""></a><a href=""></a></div>
        </di>
    </div>

<div id="main">
    <div id="title"></div>
    <div id="box">
        <div></div>
        <div>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div></div>
    </div>
</div>
</div>
<div id="bottom">

</div>
</body>
</html>