<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sblog.simpleblog.dao.ArticleHitMapper">

    <select id="findAllArticle" resultType="ArticleHit">
        select id, article_id, hits_ip, hits_time
        from simple_blog.tb_hits;
    </select>

    <select id="isExistArticleHit" parameterType="ArticleHit" resultType="int">
        SELECT 1
        FROM tb_user
        WHERE article_id = #{id} LIMIT 1
    </select>

    <insert id="apply" parameterType="ArticleHit">
        insert into simple_blog.tb_hits(article_id, hits_ip, hits_time)
        VALUES (#{id}, #{hitIp}, #{hitTime});
    </insert>

    <update id="modify" parameterType="ArticleHit">
        update simple_blog.tb_hits
        set article_id = #{id},
            hits_ip    = #{hitIp},
            hits_time  = #{hitTime}
        where id = #{id};
    </update>

    <delete id="removeById" parameterType="int">
        delete
        from simple_blog.tb_hits
        where id = #{id};
    </delete>

</mapper> 