<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sblog.simpleblog.dao.BlogInfoMapper">

    <select id="findAllBlogInfo" resultType="BlogInfo">
        select id, user_id, blog_title, signature
        from tb_blog_info
    </select>

    <select id="findBlogTitleByUserId" resultType="BlogInfo" parameterType="int">
        select user_id, blog_title, signature
        from tb_blog_info
        where id = #{id}
    </select>

    <insert id="apply" parameterType="BlogInfo">
        insert into tb_blog_info (user_id, blog_title, signature)
        VALUES (#{user.id}, #{title}, #{signature})
    </insert>

    <update id="modify" parameterType="BlogInfo">
        update simple_blog.tb_blog_info
        set blog_title = #{title},
            signature  = #{signature}
        where id = #{id};
    </update>

    <delete id="removeById" parameterType="int">
        delete
        from simple_blog.tb_blog_info
        where id = #{id};
    </delete>

</mapper> 