<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sblog.simpleblog.dao.UserMapper">

    <select id="findAllUser" resultMap="UserMap">
        select id, username, nickname, password, pass_question, pass_question_answer
        from tb_user
    </select>

    <select id="findUserById" resultMap="UserMap">
        select id, username, nickname, password, pass_question, pass_question_answer
        from tb_user
        where id = #{id}
    </select>

    <select id="findUserByName" resultMap="UserMap">
        select id, username, nickname, password, pass_question, pass_question_answer
        from tb_user
        where username = #{name}
    </select>

    <select id="isExistUser" parameterType="User" resultType="int">
        SELECT 1
        FROM tb_user
        WHERE username = #{name} LIMIT 1
    </select>

    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="name"/>
        <result column="nickname" property="nickName"/>
        <result column="password" property="password"/>
        <result column="pass_question" property="passwordQuestion"/>
        <result column="pass_question_answer" property="passwordQuestionAnswer"/>
    </resultMap>

    <insert id="apply" parameterType="User">
        insert into tb_user (username, nickname, password, pass_question, pass_question_answer)
        VALUES (#{name}, #{nickName}, #{password}, #{passwordQuestion}, #{passwordQuestionAnswer})
    </insert>

    <update id="modifyUser" parameterType="User">
        update tb_user
        set username = #{name},
            nickname = #{nickName},
            password = #{password}
        where id = #{id}
    </update>

    <delete id="removeUserById" parameterType="int">
        delete
        from tb_user
        where id = #{id}
    </delete>

    <!--    动态删除-->
    <delete id="removeUserByIds" parameterType="int">
        delete from tb_user
        where
        <foreach collection="int" open="id=" item="id">id = #{id}</foreach>
    </delete>

</mapper> 